@media (max-width: 780px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 10px;
    }

    body {
        color: white;
        background-color: #323232;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #8f8fe4;
        align-items: center;
        padding: 1vh 5vw;
    }

    a {
        text-decoration: none;
        color: white;
    }

    td {
        border: 1px solid grey;
        border-radius: 5px;
        padding: 0.5rem;
    }
    th {
        border: 1px solid grey;
        border-radius: 5px;
        background-color: #8f8fe4;
        padding: 0.5rem;
    }

    .container {
        max-width: 100vw;
        margin: 7vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .projects_table {
        border: 1px solid black;
        border-radius: 5px;
        width: 60%;
        margin: 5vw 0;
    }

    .selector {
        border-radius: 10px;
        padding: 10px 15px;
        background-color: #8f8fe4;
        width: 50%;
    }


    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 780px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 18px;

    }

    body {
        color: white;
        background-color: #323232;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #8f8fe4;
        align-items: center;
        padding: 1vh 5vw;
    }

    a {
        text-decoration: none;
        color: white;
    }

    td {
        border: 1px solid grey;
        border-radius: 5px;
        padding: 0.5rem;
    }
    th {
        border: 1px solid grey;
        border-radius: 5px;
        background-color: #8f8fe4;
        padding: 0.5rem;
    }

    .container {
        max-width: 100vw;
        margin: 10vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .projects_table {
        border: 1px solid black;
        border-radius: 5px;
        width: 60%;
        margin: 5vw 0;
    }

    .selector {
        border-radius: 10px;
        padding: 10px 15px;
        background-color: #8f8fe4;
        width: 50%;
    }


    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
