* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 50px;
    width: 250px;
    height: 350px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.accept {
    background-color: green;
    color: white;
    text-align: center;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 14px;
}