<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <img src="nokia3310.jpeg" alt="nokia3310" width="210px" height="150px" style="margin-top: 20px; border-radius: 8px;">
        <h2 style="margin-top: 20px; font-size: 20px">
            Смартфон
        </h2>
        <h2 style="margin-top: 15px; color: #a2dddd; font-size: 24px">
            20 000 ₽
        </h2>
        <button class="accept" style="margin-top: 15px">
            Купить
        </button>
    </div>
</body>
</html>