@media (max-width: 780px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 12px;
    }


    .navbar-content {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .tovarCard {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 780px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 20px;
    }


    .navbar-content {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .tovarCard {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}