<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
    <script type="module" src="script.js" defer></script>
</head>
<body class="light">
    <div class="profile-card">
        <h2 id="username">Введите ваше имя в поле ниже</h2>
        <input type="text" id="nameInput">
        <button id="changeNameBtn">Изменить имя</button>
        <img id="profileImage" src="img1.png" alt="Окак" width="200" height="200">
        <button id="imageBtn">Сменить картинку</button>
        <p id="bio" class="">Я учусь на FRONT-енд-разработчика.</p>
        <button id="bioBtn">Скрыть/Показать био</button>
        <p>Лайки: <span id="likes">0</span></p>
        <button id="likeBtn">Поставить лайк</button>
        <button id="removeBtn">Сбросить число лайков и имя</button>
        <button id="changeColorBtn">Сменить тему</button>
        <p id="hobby" class="hidden">Любимое хобби: спать</p>
        <button id="hobbyBtn">Отобразить/Скрыть хобби</button>

    </div>
    <p id="tips"></p>
</body>
</html>