* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 15px;
    width: 500px;
    height: 90vh;
    padding: 20px;
}

.dark {
    background-color: #333333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #000;
}

.hidden {
    display: none;
}

.dark button {
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #8061df;
}

.light button {
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #9cdc71;
}